<div class='copyright'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <p>
        2015 &copy; <%=link_to('David Wessman','http://github.com/davidwessman', style: 'color: #2a9a2b')%>
      </p>
      </div>
    </div>
  </div>
</div>

