<li class="dropdown">
  <%= link_to(model_name(current), "", class: "dropdow-toggle", data: {toggle: "dropdown"}) %>
  <ul class="dropdown-menu">
    <li><%= link_to("Ny " + model_name(current), url_for(module: current, action: :new, controller: current.name.tableize)) %></li>
    <li><%= link_to("Alla " + models_name(current), url_for(module: current, action: :index)) %></li>
  </ul>
</li>
