<div class="team-2">
  <div class="inner-team">
    <%= customer.company.present? ? company : nil  %>
    <h3> <span class='customer-hover'><%= customer %> </h3>
    <div class='customer-attributes' style='<%= (hover.present? && hover == true) ? 'display: none;' : ''%>'>
      <%= render 'elements/attributes', object: customer, attributes: [:phone, :email, :addresses] %>
    </div>
  </div>
</div>
