<% breadcrumb :root, @customer %>
<div class="col-md-8 col-md-offset-2 col-xs-12 reg-page">
  <div class="page-header">
    <h1><%= t('new', attribute: Customer.model_name.human) %></h1>
  </div>
  <%= render 'form'%>
  <%= link_to t('back.start'), root_url %>
</div>
