<%= render @customer, hover: false %>

<% if @customer.machines.count > 0 %>
  <ul class='list'>
    <% @customer.machines.each do |machine| %>
      <li><%= link_to(machine,machine)%></li>
    <% end %>
  </ul>
<%end%>
<%= link_to 'Ny Maskin', new_customer_machine_path(@customer),
  class: 'btn btn-u btn-u-primary' %>
<%= render 'elements/links', object: @customer %>
