.tab-v1 .nav-tabs {
  border-bottom: solid 2px #eb7125;
}

.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus {
  background: #eb7125;
}

.tab-v1 .nav-tabs > li > a:hover {
  background: #eb7125;
}
