$("#product-search").html("<h3>Sökresultat:</h3>");
$("#product-search").append("Brand: <%= j  @b.to_s %> <br>");
$("#product-search").append("Type: <%= j  @m.to_s %> <br>");
$("#product-search").append("<%= j render("tab", products: @products) %>");
$("#product-search").append("Ny: <%=j link_to(t(:new), new_product_path(@new_product.attributes)) %>");
